manifest {
  description = 'Proof of concept of a Rna-seq pipeline implemented with Nextflow' 
}
docker.enabled = true

process {
    container = 'nextflow/rnatoy:latest'
    errorStrategy = 'retry'
    maxRetries = 5
  
    withName: buildIndex {
        memory = {2.MB*task.attempt} // 2MB, 4MB, 8MB ...
    }
}

report {  // Turning on execution report by default
  enabled = true
  file = "reports/report.html"
}

trace {
    enabled = true
    file = 'reports/pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}